BOT_TOKEN = 7502775647:AAFpGhN_HGbsrr-yrWcW83qbcKzN4-xpjuI
MONGODB_URI = mongodb+srv://luffyluffyyy1:uXnGuZAG0zbxGOjL@cluster0.rmyxhem.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
ADMINS = 597083078
MULTI_FILTER = false
